.undo-counter-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.counter-button{
    padding: 10px 20px;
    background-color: #4c5764;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.counter-display{
    font-size: 24px;
    font-weight: bold;
    min-width: 50px;
    text-align: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.undo-button{
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.redo-button{
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counter-history{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;

}