.calculator-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 40px auto;
}

.calculator-container label {
    display: inline-flex;
    margin-bottom: 5px;
}

.calculator-container input {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.calculator-container button {
    padding: 10px;
    background-color: #28a745;
    max-width: 400px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.calculator-container button:hover {
    background-color: #218838;
}
.calculator-result {
    margin-top: 20px;
    font-weight: bold;
}

.calculator-container span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.result{
    margin-top: 10px;
}